.listcontainer {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listcontainer li {
  padding: 25px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dadada;
}

.listcontainer li img {
  border-radius: 100%;
}

.name {
  font-size: 1.3rem;
  margin-left: 15px;
}
